/* body section */
body {
  display: flex;
  background: #22333B;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0%;
}

.heading {
  margin-top: 4em;
  text-align: center;
  height: 1em;
  width: 7em;
}

/* game section */
.active-button {
  background: #22333B;
  color: white;
  pointer-events: auto;
  cursor: pointer;
}

.game-area {
  background: #FFDAE0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  wrap: auto;
  height: 100vh;
  width: 50%;
  color: #22333B;
}

.game-board {
  background: #22333B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 34em;
  width: 92%;
  margin-top: 4%;
  margin-bottom: 1%;
}

 .game-space {
  background: #FFDAE0;
  height: 32.3%;
  width: 32.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  pointer-events: none;
}

.game-space:hover {
  cursor: pointer;
}


/* player section */
.player-area {
  background: #22333B;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 25%;
  font-family: "Open Sans", sans-serif;
  color: #C03221;
}

h3 {
  margin-top: -0.5em;
}
